body, html {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; }

body {
  background-color: #3c3a45; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

li {
  list-style: none; }

nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  font-size: 11px;
  letter-spacing: 3px; }
  nav #logo {
    z-index: 999;
    position: fixed; }
  nav #desktop-menu {
    padding: 0px;
    float: right;
    margin: 45px; }
    nav #desktop-menu li {
      float: left;
      margin-left: 20px; }
      nav #desktop-menu li a {
        color: #989898; }
        nav #desktop-menu li a:hover {
          color: #ffffff; }
  nav #mobile-menu {
    opacity: 0;
    height: 100vh;
    width: 100%;
    background-color: #3c3a45;
    padding: 0;
    padding-top: 35vh;
    text-align: center;
    font-size: 18px;
    display: none; }
    nav #mobile-menu li {
      margin-top: 26px; }
      nav #mobile-menu li a {
        color: #989898; }
  nav #mobile-menu-button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    right: 25px;
    top: 25px;
    text-align: center;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    display: none; }
    nav #mobile-menu-button > div {
      width: 22px;
      height: 2px;
      background-color: #ffffff;
      position: relative;
      margin-left: 4px;
      margin-top: 8px; }
  nav p, nav a {
    font-weight: 600; }
  nav p {
    color: #ffffff;
    float: left;
    padding: 0;
    margin: 45px;
    letter-spacing: 2.6px; }

#home #vertical-right-bar {
  width: 50px;
  top: 0;
  right: 45px;
  position: fixed;
  z-index: 998; }
#home ul {
  margin-top: 36vh; }
#home ul li {
  -webkit-transform: rotate(90deg);
  /* Safari */
  -moz-transform: rotate(90deg);
  /* Firefox */
  -ms-transform: rotate(90deg);
  /* IE */
  -o-transform: rotate(90deg);
  /* Opera */
  margin-top: 70px;
  font-size: 11px;
  letter-spacing: 1.6px;
  font-weight: 600; }
#home a {
  color: #989898; }
  #home a:hover {
    color: #ffffff; }
#home #bottom-text {
  position: relative;
  color: #ffffff;
  margin: 82vh 45px 0 45px; }
  #home #bottom-text #my-description {
    font-size: 20px;
    letter-spacing: 0.57px;
    line-height: 30px; }
    #home #bottom-text #my-description #location {
      font-size: 11px;
      letter-spacing: 3px; }
  #home #bottom-text #reserved {
    letter-spacing: 0.5px;
    color: #989898;
    margin-top: 110px;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300; }
#home #shape {
  position: absolute;
  z-index: 997;
  margin-top: 100px;
  height: 70%;
  width: 80%;
  margin-left: 23%;
  margin-right: 10%; }
  #home #shape #brown-circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(255, 141, 151, 0.1);
    position: relative;
    z-index: 100;
    left: 310px;
    top: 20px; }
  #home #shape #blue-circle {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #233154;
    position: relative;
    z-index: 101;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    left: 119px;
    top: 70px; }
  #home #shape #azure-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #435dff;
    position: relative;
    z-index: 102;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    left: 10px;
    top: 180px; }
  #home #shape #red-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ff6060;
    position: relative;
    z-index: 103;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    left: -60px;
    top: 280px; }
  #home #shape #grey-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(216, 216, 216, 0.1);
    position: relative;
    z-index: 99;
    left: -130px;
    top: 330px; }
  #home #shape #outline-circle-1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: transparent;
    border: solid 1px rgba(240, 226, 200, 0.2);
    position: relative;
    z-index: 105;
    left: -613px;
    top: 97px; }
  #home #shape #outline-circle-2 {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: transparent;
    border: solid 1px rgba(255, 209, 221, 0.4);
    position: relative;
    z-index: 106;
    left: -728px;
    top: 78px; }
    #home #shape #outline-circle-2 #test1 {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: white;
      position: relative;
      z-index: 107;
      top: 64%;
      left: 1%;
      opacity: 0.4; }
    #home #shape #outline-circle-2 #test2 {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: white;
      position: relative;
      z-index: 107;
      top: 20%;
      left: 91.7%;
      opacity: 0.4; }

#contact-me-button {
  position: relative;
  width: 180px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  color: #ffffff !important;
  background-color: #ff6060;
  display: block;
  border-radius: 20px;
  font-size: 11px;
  letter-spacing: 3px;
  margin-left: 50%;
  left: -90px; }

/* Media query */
@media (max-width: 768px) {
  nav #desktop-menu {
    display: none; }
  nav #mobile-menu {
    display: block; }
  nav #mobile-menu-button {
    display: block; }

  #home #bottom-text {
    margin: 26vh 45px 0 45px;
    text-align: center; }
    #home #bottom-text .contact-me {
      margin-top: 20%; }
    #home #bottom-text #reserved {
      float: none;
      margin-top: 50%; } }
@media (max-width: 992px) {
  #shape {
    display: none; } }

/*# sourceMappingURL=stili.css.map */
